# .clang-format
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 120
PointerAlignment: Right
SortIncludes: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
