Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  portability-*,
  modernize-*,
  clang-analyzer-*,
  -readability-identifier-length,
  -modernize-macro-to-enum,
  -modernize-deprecated-headers,
  -performance-no-int-to-ptr,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -modernize-use-using,
  -modernize-use-trailing-return-type,
  -bugprone-assignment-in-if-condition,
  -clang-analyzer-security.insecureAPI.*,
  -bugprone-implicit-widening-of-multiplication-result,
  -readability-non-const-parameter
HeaderFilterRegex: '.*'
FormatStyle: file
