Checks: >
  bugprone-*,performance-*,readability-*,portability-*,
  modernize-*,clang-analyzer-*,
  -modernize-use-trailing-return-type       # example of disabling a noisy check
WarningsAsErrors: >
  bugprone-*,clang-analyzer-*
HeaderFilterRegex: '.*'
FormatStyle: file
